body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: 'poppins' , sans-serif;
}
.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 100px;
    border-radius: 6px;
}
.todo{
    width: 200px;
    max-width: 540px;
    background: #fff;
    padding: 0 10px 10px;
    border-radius: 10px;
}
.todo h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h1 img{
    width: 30px;
    margin-left: 10px;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(68, 183, 183);
    outline: none;
    font-size: 19px;
    border-radius: 10px;
}
input:hover{
    background-color: rgb(234, 224, 224);
}
button{
    width: 60px;
    height: 41px;
    background-color: rgba(204, 189, 20, 0.949);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 19px;
}
button:hover{
    border-radius: 50px;
}
.text ul{
    position: relative;
    background-color: rgb(68, 158, 158);
    color: white;
    padding: 7px ;
    font-size: 19px;
    text-align: left;
    border-radius: 10px;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    border-radius: 6px;
}
